<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>earthling</title>
<head>

    <style>
        @import url(css/style.css);
        @import url(bootstrap/css/bootstrap.min.css);
    </style>
    <script type="text/javascript" src="js/lib/json2.js"></script>
    <script type="text/javascript" src="js/lib/cometd.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.cometd.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script data-main="js/main" src="js/lib/requirejs/require-1.0.5.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        (function(global) {
            require.config({
                paths: {
                    'requirejs':'lib/requirejs',
                    'ich':'lib/ich',
                    'signals':'lib/signals',
                    'underscore':'lib/underscore'
                }
            });
        })(this);

    </script>


</head>
<body>

<div id="container">
    <div id="header"></div>
    <div id="mapPanel" class="panel">
        <div id="earth"></div>
    </div>
</div>
</body>

<!--templates-->
<script id="headerAndVersionLabel" type="text/html">
    <div id="titleWell" class="well well-small">
        <h3>EARTHLING</h3>
        <span class="versionLabel apiVersionLabel">api:{{apiVersion}}</span>
        <span class="versionLabel pluginVersionLabel">plugin:{{pluginVersion}}</span>
        <a id="lassoBtn" class="btn btn-mini" href="#"><i class="icon-screenshot"></i>Lasso</a>
    </div>
</script>

</html>