html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.panel {
    color: #ffffff;
    margin: 0px 12px 12px 12px;
    overflow-y: auto;
}

#mapPanel {
    height: 700px;
    display: block;
}

#header {
    color: #4B5657;
    font-size: 12px;
    padding: 10px;
}

#earth {
    height: 600px;
    width: 1200px;
}

.versionLabel{
    margin:0px 3px 0px 3px;
}

.apiVersionLabel{
    color:#577FD6;
}

.pluginVersionLabel{
    color:#577FD6;
}

#header h3{
    display:inline;
}